<head>
  <meta charset="UTF-8">
  <title>Super Awesome</title>
  <script type="text/javascript" src="../js/jquery-1.7.2.js"></script>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <style>
    body { 
      padding-top:50px; 
    }
  </style>
</head>
